body {
  background-color: #00ffff; /* Garish neobrutalism blue */
  color: #333;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.timer-button {
  flex-grow: 1;
  max-width: 800px;
  min-width: 180px;
  height: 180px;
  border: 8px solid #333;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s;
  background-color: #ff5733;
}

.timer-button:hover {
  transform: scale(1.1);
}

.timer-button.active {
  background-color: #33ff57;
}

.timer-button .side {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.timer-button .time {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}
